<h2>Newest Foods:</h2>

<p>
  Here below you can find some of the newest foods and drinks currently listed for sale!
</p>

<div class="row" *ngIf="homePageContent$ | async as homePageContent">
  <div
    class="card col-md-4 card-space"
    *ngFor="let food of homePageContent.food"
  >
    <div class="card-body">
      <h5 class="card-title">{{ food.name }}</h5>
      <p class="card-text">Description: {{ food.description }}</p>
      <p class="card-text">Price: ${{ food.price }}</p>
      <a href="food/{{ food.pk }}/" class="btn btn-primary">Learn More</a>
    </div>
  </div>
  <div
    class="card col-md-4 card-space"
    *ngFor="let drink of homePageContent.drink"
  >
    <div class="card-body">
      <h5 class="card-title">{{ drink.name }}</h5>
      <p class="card-text">Description: {{ drink.description }}</p>
      <p class="card-text">Price: ${{ drink.price }}</p>
      <a href="drink/{{ drink.pk }}/" class="btn btn-primary">Learn More</a>
    </div>
  </div>
</div>
