<div class="container">
	<mat-card>

		<mat-card-title>
			Login
		</mat-card-title>

		<mat-card-content>
			<form class="col-12">
				<div class="row">
					<mat-form-field>
						<input matInput placeholder="Username" type="text">
        </mat-form-field>
      </div>
      <div class = "row">
        <mat-form-field>
          <input matInput placeholder="Password" type="password">
        </mat-form-field>
        </div>
      </form>
	  </mat-card-content>

    <mat-card-actions>
       <button mat-stroked-button (click)='submit()'>Login</button>
    </mat-card-actions>

  </mat-card>
</div>